<div xmlns:th="http://www.thymeleaf.org" class="btn-group chat-toolbar users-statistic" role="group" aria-label="..."
     th:each="element : ${statistic}">
    <div class="btn btn-default ticket-option most-active">
        <i class="glyphicon glyphicon-king"></i>
        <span>
            Most Active User :
            <span th:text="${element.getMostActive().getName()}"></span>
        </span>
    </div>
    <div class="btn btn-default ticket-option most-mentioned">
        <i class="glyphicon glyphicon-sunglasses"></i>
        <span>
            Most Mentioned User :
            <span th:remove="tag" th:text="${element.getMostMentioned().getName()}"></span>
        </span>
    </div>
</div>
